
.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.8
}

.head_class {
  color: #ffd33d;
}

.myname {
  cololr: #eaeaea;
}

.sub_head_class {
  color: #ffd33d;
}

.profile-img {
  max-height: 320px;
}

.footer-cover {
  background-color: #252a34;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  height: 80px;
  color: #eaeaea;
}

.footer {
  padding-top: 10px;
}

.main_body {
  background-color: #252a34;
}

.fa-question-circle {
  color: #eaeaea;
}

.col-12 {
  color: #eaeaea;
}

.col-md-9 {
  color: #eaeaea;
}

a:link {
  color: #99CCFF;
}

a:visited {
  color: #2552E8;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}
