<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width">
    <meta name="description" content="사실 별볼일 없는 이력서입니다."/>
    <meta property="og:url" content="https://kimjiil.github.io/About" />
    <meta property="og:site_name" content="빵을 훔친 장발장의 이력서" />
    <meta property="og:title" content="빵을 훔친 장발장의 이력서" />
    <meta property="og:description" content="사실 별볼일 없는 이력서입니다." />
    <meta property="og:image" content="./resume_favicon.ico" />
    <meta property="og:type" content="website" />

    <title>빵을 훔친 장발장의 이력서</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47676781-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47676781-6');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
  </script>
  </head>
  <body class="main_body">
    <div class="container resume">
      <!-- Profile Start -->
      <div class="row mt-5">
        <div class="col-md-3 col-sm-12 pb-3 text-md-right text-center">
          <img class="img-fluid rounded profile-img" src="./Myself_Neon.jpg" alt="Profile">
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="col text-center text-md-left">
              <h1 class="myname">김지일 <small>Jiil Kim</small></h1>
            </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              <div class="row pb-2">
                <div class="col-1 text-right">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                  <a href="mailto:kimjiil2013@naver.com" target="_blank">kimjiil2013@naver.com</a>
                </div>
              </div>
              <div class="row pb-2">
                <div class="col-1 text-right">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                  <span class="badge badge-light">Please contact me by email</span>
                </div>
              </div>
              <div class="row pb-2">
                <div class="col-1 text-right">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/kimjiil" target="_blank">https://github.com/kimjiil</a>
                </div>
              </div>
              <div class="row pb-2">
                <div class="col-1 text-right">
                  <i class="fa fa-rss" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                  <a href="https://kimjiil.github.io" target="_blank">https://kimjiil.github.io</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="alert alert-secondary" role="alert">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>&nbsp;
                    휴대전화가 아닌 <strong>이메일</strong>로 연락 부탁드립니다.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div >
      <!-- Profile End -->

      <!-- Introduce Start -->
      <div class="row pt-5">
        <div class="col-12 col-md-3">
          <h2 class="head_class">INTRODUCE</h2>
        </div>
        <div class="col-12 col-md-9">
          <p>2년차 AI 개발자로 ML/AI분야에서 모델링/개발/배포하고있습니다. 대학원은 데이터마이닝랩실에서 한국전력연구원(KEPRI)와 협약하여 에너지 관련 이상치 탐지를 연구하였습니다.  첫 직장에 입사하여 AI OCR(광학 문자 인식)쪽의 연구를 진행하여 AI 모델을 배포하고 있습니다. 무언가를 파고들어 건성으로 넘어가지 않고 이해하고 최신 기술과 논문에 귀를 기울여 공부하려고 노력하고 있습니다.</p>
          <p class="text-md-right"><small>Latest Resume Updated</small> <span class="badge badge-secondary">2023. 06. 29</span></p>
          <p class="text-md-right">Kim Jiil</p>
        </div>
      </div>
      <!-- Introduce End -->

      <!-- Skills Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2>
                <span class="head_class">
                  SKILLS
                </span>
                <small data-toggle="tooltip" title="1: 초급, 2: 중급, 3: 고급">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </small>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3 text-md-right">
              <h4 class="sub_head_class">Work
               <small data-toggle="tooltip" title="일하면서 사용한 Skill">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
              </small>
              </h4>

            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-primary">3</span>
                      Python
                    </li>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      C/C++
                    </li>
                    <li>
                      <span class="badge badge-pill badge-primary">3</span>
                      Pytorch
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Java
                    </li>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Tensorflow
                    </li>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Pandas
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      MatLab
                    </li>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Opencv
                    </li>
<!--                    <li>-->
<!--                      <span class="badge badge-pill badge-light">1</span>-->
<!--                    </li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-12 col-md-3 text-md-right">
              <h4 class="sub_head_class">Study
              <small data-toggle="tooltip" title="대학교에서 배웠거나 흥미를 가지고 공부한 목록">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
              </small>
              </h4>
            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Verilog
                    </li>
                    <li>
                      <span class="badge badge-pill badge-light">1</span>
                      HTML/CSS
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-light">1</span>
                      Unreal Engine
                    </li>
                    <li>
                      <span class="badge badge-pill badge-secondary">2</span>
                      Arduino
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <span class="badge badge-pill badge-light">1</span>
                      Kubernetes
                    </li>
                    <li>
                      <span class="badge badge-pill badge-light">1</span>
                      Docker
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-12 col-md-3 text-md-right">
              <h4 class="sub_head_class">Etc</h4>
            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col">
                  <ul>
                    <li>Ubuntu</li>
                    <li>Wandb.ai</li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>Vim</li>
                    <li>Linux</li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>Git / Github</li>
                    <li>MarkDown</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Skills End -->

      <!-- Open Source Start -->
<!--      <div class="row pt-5">-->
<!--        <div class="col">-->
<!--          <div class="row pb-3">-->
<!--            <div class="col">-->
<!--              <h2 class="head_class">Example</h2>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row">-->
<!--            <div class="col">-->

<!--              &lt;!&ndash; Content start &ndash;&gt;-->
<!--              <div class="row">-->
<!--                <div class="col-md-3 col-12 text-md-right">-->
<!--                  <h4 class="sub_head_class">example</h4>-->
<!--                </div>-->
<!--                <div class="col-md-9 col-12">-->
<!--                  <ul>-->
<!--                    <li>example1</li>-->
<!--                    <li>example2</li>-->
<!--                    <li>example3</li>-->
<!--                    <li><a href="https://github.com/example/example" target="_blank">https://github.com/example/example</a></li>-->
<!--                    <li>example4 <img src="https://img.shields.io/badge/any_text-you_like-blue"/></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <hr />-->
<!--              &lt;!&ndash; Content end &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <!-- Open Source End -->

      <!-- Experience Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2 class="head_class">EXPERIENCE</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <!-- content example start -->
<!--              <div class="row">-->
<!--                <div class="col-md-3 col-12 text-md-right">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-12 col">-->
<!--                      <h4 class="sub_head_class">9999. 99 ~<br /></h4>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-3 text-center text-md-right">-->
<!--                        <span class="badge badge-primary">example</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-9 col-12">-->
<!--                  <h4>example</h4>-->
<!--                  <i class="sub_head_class">example</i>-->
<!--                  <ul class="pt-3">-->
<!--                    <li>example <small>example</small></li>-->
<!--                    <li>example2 </li>-->
<!--                    <li><strong>Skill Keywords</strong></li>-->
<!--                    <div>-->
<!--                      <span class="badge badge-warning">example1</span>-->
<!--                      <span class="badge badge-secondary">example2</span>-->
<!--                    </div>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <hr />-->
              <!-- content example end -->

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <div class="row">
                    <div class="col-md-12 col">
                      <h4 class="sub_head_class">2020. 08 ~ 2023. 01<br /></h4>
                    </div>
                    <div class="col-md-12 col-3 text-center text-md-right">
                        <span class="badge badge-primary">2년 5개월</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-12">
                  <h4>펨트론</h4>
                  <i class="sub_head_class">AOI AI팀 개발자</i>
                  <ul class="pt-3">
                    <li>AOI(Automated Optical Inspection) 장비 개발 업체 <small>(180~190명, AI 개발팀 4명)</small></li>
                    <li>검사 장비에 들어가는 AI 모델 개발</li>
                    <li>기존 소프트웨어에서 AI 모델을 사용할 수 있는 API 개발 <small>(Pembrain)</small></li>
                    <li>AI OCR 알고리즘 기능 개발 및 모델 배포</li>
                    <li><strong>Skill Keywords</strong></li>
                    <div>
                      <span class="badge badge-light">C++</span>
                      <span class="badge badge-light">Libtorch</span>
                      <span class="badge badge-light">Python</span>
                      <span class="badge badge-light">Pytorch</span>
                      <span class="badge badge-light">Cuda</span>
                      <span class="badge badge-light">Object Detection</span>
                      <span class="badge badge-light">Deep Learning</span>
                      <span class="badge badge-light">Opencv</span>
                      <span class="badge badge-light">OCR</span>
                    </div>
                  </ul>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <div class="row">
                    <div class="col-md-12 col">
                      <h4 class="sub_head_class">2018. 01 ~ 2020. 07<br /></h4>
                    </div>
                    <div class="col-md-12 col-3 text-center text-md-right">
                        <span class="badge badge-primary">2년 6개월</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-12">
                  <h4>DataMining Lab <small>(prof. Cheong Hee Park)</small></h4>
                  <i class="sub_head_class">연구원</i>
                  <ul class="pt-3">
                    <li>XAI <small>(explainable AI)</small> AD 기반 스마트 에너지 플랫폼 기술 개발, 한국전력연구원 과제 참여</li>
                    <li>이상치 탐지 및 이상 패턴 탐지에 관한 기술 연구</li>
                    <li>지중 케이블에서 부분 방전(Partial Discharge) 탐지에 관한 연구</li>
                    <li>Lab 총무 담당</li>
                    <li><strong>Skill Keywords</strong></li>
                    <div>
                      <span class="badge badge-light">Matlab</span>
                      <span class="badge badge-light">Java</span>
                      <span class="badge badge-light">Python</span>
                      <span class="badge badge-light">Tensorflow</span>
                      <span class="badge badge-light">Machine Learning</span>
                      <span class="badge badge-light">Outlier Detection</span>
                      <span class="badge badge-light">Pattern Detection</span>
                      <span class="badge badge-light">DataMining</span>
                    </div>
                  </ul>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <div class="row">
                    <div class="col-md-12 col">
                      <h4 class="sub_head_class">2016. 12 ~ 2017. 12<br /></h4>
                    </div>
                    <div class="col-md-12 col-3 text-center text-md-right">
                        <span class="badge badge-primary">12개월</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-12">
                  <h4>CV Lab Intern <small>(prof. Dong Bo Min)</small></h4>
                  <i class="sub_head_class">보조 연구원</i>
                  <ul class="pt-3">
                    <li>딥러닝 기반 단일 컬러 영상에서 손동작 인식 졸업 프로젝트 수행<small>(2명)</small></li>
                    <li>Stereo Camera로 Hand Pose Dataset, City Space Dataset 수집 및 라벨링</li>
                    <li>Hand Pose Estimation에 관한 논문 리서치 및 연구</li>
                    <li><strong>Skill Keywords</strong></li>
                    <div>
                      <span class="badge badge-light">Python</span>
                      <span class="badge badge-light">Tensorflow</span>
                      <span class="badge badge-light">Opencv</span>
                      <span class="badge badge-light">Arduino</span>
                      <span class="badge badge-light">DeepLearning</span>
                      <span class="badge badge-light">HCI</span>
                    </div>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Experience End -->

      <!-- Project Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2 class="head_class">PROJECTS</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2022. 05 ~ 2023. 01</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>Chip Counter</h4>
                  <i class="sub_head_class">펨트론</i>
                  <ul class="pt-3">
                    <li>
                      X-ray SMD counter 장비인 Mercury에 들어가는 AI 모델 개발 보조
                    </li>
                    <li>
                      chip counter 관련 알고리즘 딥러닝 기술 논문 리서치 및 모델 테스트
                    </li>
                  </ul>
                </div>
              </div>
              <hr />


          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2020. 08 ~ 2022. 04</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>AI OCR</h4>
                  <i class="sub_head_class">펨트론</i>
                  <ul class="pt-3">
                    <li>
                      OCR 관련 딥러닝 논문 리서치 및 연구, 모델 테스트
                    </li>
                    <li>
                      AI 모델을 회사 소프트웨어에서 사용할 수 있도록 하는 API인 PemBrain 개발(OCR 부분)
                    </li>
                    <li>
                      AI OCR 기능 유지 및 보수, OCR Dataset 수집 및 관리, 딥러닝 모델 배포
                    </li>
                    <li>
                      Object Detection 기반 AI OCR 모델 기술(Auto Teaching) 개발 및 배포
                    </li>
                    <li>
                      AI OCR 모델 최적화(TensorRT) 및 경량화, 기존 이미지 전처리 알고리즘 C++을 Cuda로 변환
                    </li>
                  </ul>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2018. 01 ~ 2020. 07</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>XAI(eXplainable AI) AD 기반 스마트 에너지 플랫폼 기술 개발</h4>
                  <i class="sub_head_class">한국 전력연구원(KEPRI)</i>
                  <ul class="pt-3">
                    <li>
                      이상치 탐지 및 이상 패턴 탐지에 관한 기술 연구
                    </li>
                    <li>
                      스트리밍 전력 설비 데이터에 대한 고장 및 이상 탐지에 트리, 클러스터링 기반 앙상블 모델을 적용
                    </li>
                    <li>
                      실제 전력 설비 데이터인 지중 케이블에서 발생하는 부분 방전(Partial Discharge)를 탐지하는 모델 적용
                    </li>
                    <li>
                      이상치 탐지 관련 <a href="https://doi.org/10.8080/1020190112603" target="_blank">특허</a> 및 관련 논문 작성
                    </li>
                  </ul>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2016. 12 ~ 2017. 12</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>딥러닝 기반 단일 컬러 영상에서 손동작 인식</h4>
                  <i class="sub_head_class">CNU CVLab <small>(prof. Dongbo Min)</small></i>
                  <ul class="pt-3">
                    <li>
                      Hand skeleton Estimation 관련 논문 리서치 및 모델 테스트
                    </li>
                    <li>
                      웹캠으로 촬영한 실시간 영상을 통해 딥러닝으로 3d points을 추론하는 모델 학습
                    </li>
                    <li>
                      3d points를 통해 로봇 손을 움직이는 알고리즘 개발
                    </li>
                    <li>
                      딥러닝 모델과 아두이노 보드 통신 연결 및 로봇 손 제어
                    </li>
                    <li>
                      <a href="https://github.com/kimjiil/old_project/tree/main/graduation_project" target="_blank">github Link</a>
                    </li>
                  </ul>
                </div>
              </div>
              <hr />

            </div>
          </div>
        </div>
      </div>
      <!-- Project End -->

      <!-- Presentation Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2 class="head_class">PUBLICATION</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h4 class="sub_head_class">2020. 10</h4>
                </div>
                <div class="col-md-9">
                  <h4><a href="https://www.mdpi.com/1996-1073/13/20/5444#" target="_blank">
                    Partial Discharge Detection Based on Anomaly Pattern Detection</a></h4>
                  <h7 class="pt-3">Energies 2020. <strong>Kim J</strong>, Park CH </h7>
                </div>
              </div>
              <hr />

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h4 class="sub_head_class">2020. 7</h4>
                </div>
                <div class="col-md-9">
                  <h4><a href="https://link.springer.com/article/10.1007/s11227-020-03384-x" target="_blank">
                    An explainable outlier detection method using region-partition trees</a></h4>
                  <h7 class="pt-3">The Journal of Supercomputing 2021. Cheong Hee Park, Jiil Kim </h7>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h4 class="sub_head_class">2018. 12</h4>
                </div>
                <div class="col-md-9">
                  <h4><a href="https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE07613791" target="_blank">
                  트리 기반 앙상블 모델 구성을 이용한 이상치 탐지
                  </a></h4>
                  <h7 class="pt-3">한국정보학회 한국소프트웨어종합학술대회 2018. 김지일, 김태공, 박정희</h7>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h4 class="sub_head_class">2018. 12</h4>
                </div>
                <div class="col-md-9">
                  <h4><a href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE07613710" target="_blank">
                  스트리밍 데이터에서 이상 패턴 탐지
                  </a></h4>
                  <h7 class="pt-3">한국정보학회 한국소프트웨어종합학술대회 2018. 김태공, 김지일, 박정희</h7>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 text-md-right">
                  <h4 class="sub_head_class">2018. 9</h4>
                </div>
                <div class="col-md-9">
                  <h4><a href="http://koreascience.or.kr/article/JAKO201809355934119.page" target="_blank">
                  Outlier Detection By Clustering-Based Ensemble Model Construction
                  </a></h4>
                  <h7 class="pt-3">KIPS Transactions on Software and Data Engineering 2018. 박정희, 김태공, 김지일, 최세목, 이경훈</h7>
                </div>
              </div>
              <hr />

            </div>
          </div>
        </div>
      </div>
      <!-- Presentation End -->

      <!-- Education Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2 class="head_class">EDUCATION</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="row">
              <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2018. 09 ~ 2020. 08</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>충남대학교 대학원 졸업</h4>
                  <i class="sub_head_class">멀티미디어 및 시스템 석사 전공, 데이터마이닝 랩실 </i>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2013. 03 ~ 2018. 08</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>충남대학교 졸업</h4>
                  <i class="sub_head_class">컴퓨터공학과 학사 전공</i>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2008. 03 ~ 2011. 02</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>강릉고등학교 졸업</h4>
                  <i class="sub_head_class">강원도 강릉시</i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Education End -->

      <!-- Etc Start -->
      <div class="row pt-5">
        <div class="col">
          <div class="row pb-3">
            <div class="col">
              <h2 class="head_class">ETC</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2017. 12</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>충남대 컴퓨터공학과, 창의경진대회 대상</h4>
                  <i class="sub_head_class">딥러닝 기반 일반 카메라 영상에서 손동작을 인식해서 로봇 손을 움직이는 졸업 프로젝트</i>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2017. 12</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>충남대 국방ICT 종합학술대회, 포스터발표 특별상</h4>
                  <i class="sub_head_class">충남대 정보통신과, 컴퓨터공학과 포스터 발표대회</i>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2010. 05</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>강원도 물리경시대회</h4>
                  <i class="sub_head_class">고등부 동상</i>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-12 text-md-right">
                  <h4 class="sub_head_class">2008. 05</h4>
                </div>
                <div class="col-md-9 col-12">
                  <h4>한국물리올림피아드 경시대회</h4>
                  <i class="sub_head_class">중등부 경시부문(동상)</i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Etc End -->

      <!-- Toolbox Start -->
      <div class="row pl-5 pr-5 pt-5 pb-0">
        <!-- <div class="col-md-4 pt-3">
          <a href="./static/pdf/2018-yowu-resume.pdf" class="btn btn-info btn-block" role="button" aria-pressed="true">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            &nbsp;PDF 다운받기
          </a>
        </div> -->
        <div class="col-md-6 pt-3">
          <a href="mailto:kimjiil2013@naver.com" target="_blank" class="btn btn-secondary btn-block" role="button" aria-pressed="true">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            &nbsp;이메일로 찔러보기
          </a>
        </div>
        <div class="col-md-6 pt-3">
          <button onClick="alert('뇌내망상 코너는 준비 중입니다.')" class="btn btn-dark btn-block" role="button" aria-pressed="true">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            &nbsp;뇌내망상 살펴보기
          </button>
        </div>
      </div>
      <!-- Toolbox End -->

      <!-- Footer Start -->
      <div class="row">
        <div class="col footer-cover">
          <div class="footer text-center">
            <small>CSS by <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>. Thanks for <a href="https://blog.outsider.ne.kr/1234" target="_blank">Outsider</a></small><br/>
            <small>Last Modified at 2023.07.03, <a href="https://github.com/kimjiil/kimjiil.github.io" target="_blank">Changelog. </a><a href="https://github.com/kimjiil" target="_blank"><i class="fa fa-github"></i> Github</a></small>
          </div>
        </div>
      </div>
      <!-- Footer End -->
    </div>
  </body>
</html>
